@* @using OtoYedekParca.ViewModels;
@model TanimlamaViewModel;

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        <form asp-controller="Admin" asp-action="Model" id="selectt" method="post">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h3 class="card-title">Tip Tanımlayın</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="ms-8">
                                    <label for="exampleFormControlInput1" class="form-label">Model Resmi</label>
                                    <br>
                                    <br>
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline" data-kt-image-input="true"
                                        style="background-image: url(/)">
                                        <!--begin::Image preview wrapper-->
                                        <div class="image-input-wrapper w-150px h-150px"
                                            style="background-image: url(/)"></div>
                                        <!--end::Image preview wrapper-->

                                        <!--begin::Edit button-->
                                        <label
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" data-bs-dismiss="click"
                                            title="Change avatar">
                                            <i class="bi bi-pencil-fill fs-7"></i>

                                            <!--begin::Inputs-->
                                            <input type="file" name="file" accept=".png, .jpg, .jpeg" style="object-fit:cover;" />
                                            <input type="hidden" name="avatar_remove" />
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Edit button-->

                                        <!--begin::Cancel button-->
                                        <span
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" data-bs-dismiss="click"
                                            title="Cancel avatar">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Cancel button-->

                                        <!--begin::Remove button-->
                                        <span
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" data-bs-dismiss="click"
                                            title="Remove avatar">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Remove button-->
                                    </div>
                                    <!--end::Image input-->
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="col col-md-12">
                                    <label for="exampleFormControlInput1" class="required form-label">Araç Markası</label>
                                    <select class="form-select form-select-sm form-select-solid" data-control="select2" name="MarkaID" 
                                        data-placeholder="Marka Seçiniz">
                                        <option selected value=""></option>
                                        @foreach (var item in Model.markalar)
                                        {
                                            <option value="@item.MarkaId">@item.MarkaAdi</option>
                                        }
                                    </select>
                                </div>
                                <div class="col col-md-12">
                                    <div class="mt-10">
                                        <label for="exampleFormControlInput1" class="required form-label">Araç Tipi</label>
                                        <select class="form-select form-select-sm form-select-solid" data-control="select2" name="TipID"
                                            data-placeholder="Tip Seçiniz">
                                            <option selected value=""></option>
                                            @foreach (var item in Model.tipler)
                                            {
                                                <option value="@item.TipId">@item.TipAdi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="mt-10">
                                    <label for="exampleFormControlInput1" class="required form-label">Model Adı</label>
                                    <input type="text" class="form-control form-control-sm form-control-solid" name="ModelAdi"
                                        placeholder="Model Adı Giriniz"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success" style="float: right;">Model Ekle</button>
                    </div>
                </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#selectt').submit(function(e){
            e.preventDefault();
        
        var form = $(this);
        var actionUrl = form.attr('Model');

            $.ajax({
            type:"POST"
            url: "Admin/Model",
            data: form.serialize(),
            dataType:"json"
            success:function(data)
            {

            }
        
            });
        });
    });
</script>
 *@

@using OtoYedekParca.ViewModels;
@model TanimlamaViewModel;


@using OtoYedekParca.Entity;

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
    <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Model Tanımlayın</h3>
            </div>
            <div class="card-body py-5">
                            
                @(Html.DevExtreme().DataGrid<Model>()
                    .ID("dxContainer")
                    .DataSource(d => d.Mvc()
                    .Controller("Admin")
                    .LoadAction("GetAllModel")
                    .UpdateAction("UpdateModel")
                    .DeleteAction("DeleteModel")
                    .InsertAction("AddModel")
                    .Key("ModelId")
                    )
                    .RemoteOperations(true)
                    .Columns(columns => {

                    columns.AddFor(m => m.MarkaId).AllowEditing(true).Lookup(l=>l.DataSource(d=>d.Mvc().LoadAction("GetAllMarka").Key("MarkaId")).DisplayExpr("MarkaAdi").ValueExpr("MarkaId")).Alignment(HorizontalAlignment.Left).Caption("Marka").AllowFiltering(true);

                    columns.AddFor(m => m.TipId).AllowEditing(true).Lookup(l=>l.DataSource(d=>d.Mvc().LoadAction("GetAllTip").Key("TipId")).DisplayExpr("TipAdi").ValueExpr("TipId")).Alignment(HorizontalAlignment.Left).Caption("Tip").AllowFiltering(true);

                    columns.AddFor(m=>m.ModelAdi).AllowEditing(true).Alignment(HorizontalAlignment.Left).Caption("Model");
                
                    })
                    .SearchPanel(s => s
                    .Visible(true)
                    .HighlightCaseSensitive(true)
                    .Placeholder("Ara")
                    .Width(200))
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .ShowBorders(true)
                    .GroupPanel(p => p.Visible(true).EmptyPanelText("Modeller"))
                    .Height("100%")
                    .Paging(paging => paging.PageSize(10))
                    .Editing(e =>
                    e.AllowAdding(true)
                    .AllowDeleting(true)
                    .AllowUpdating(true)
                    .UseIcons(true)
                    .Mode(GridEditMode.Popup)
                    .Popup(p=>
                    p.Title("Model Ekle & Düzenle")
                    .ShowTitle(true)
                    .Width(700)))
                    .Pager(p=>
                    p.AllowedPageSizes(new JS("[5, 10, 20]"))
                    .ShowNavigationButtons(true)
                    .ShowPageSizeSelector(true)
                    .Visible(true)
                    .ShowNavigationButtons(true) 
                    .ShowInfo(true)
                    .DisplayMode(GridPagerDisplayMode.Full))
                    .Grouping(g => g.AutoExpandAll(false)))
            </div>
            <div class="card-footer">
            
            </div>
        </div>
    </div>
</div>
